.about-container{
    margin-top: 20vh;
}
.about-paragraph{
    font-size: larger;
    font-weight: 500;
}

.skill-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-container img{
    width: 150px;
    margin: 1rem;
    border-radius: 1rem;
}
@media screen and (max-width:600px){
    .skill-container img{
        width: 75px;
    } 
}